%html
  %head
    %title Nurblizer
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style.css"}

  %body
    .ad
      :javascript
        google_ad_client = "ca-pub-6075374749119067";
        /* Nurblizer */
        google_ad_slot = "7853244668";
        google_ad_width = 728;
        google_ad_height = 90;

      %script{:src=>"http://pagead2.googlesyndication.com/pagead/show_ads.js"}
    .container
      = yield

    .ad
      :javascript
        google_ad_client = "ca-pub-6075374749119067";
        /* Nurblizer */
        google_ad_slot = "7853244668";
        google_ad_width = 728;
        google_ad_height = 90;

      %script{:src=>"http://pagead2.googlesyndication.com/pagead/show_ads.js"}
